# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.mdb
*.idb
*.log

# NuGet Packages
*.nupkg
*.snupkg
packages/
project.assets.json
project.nuget.cache
project.model.nuget.info

# Rider
.idea/
*.sln.iml